<!DOCTYPE>
<html layout:decorate="~{layout_admin}" lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ebook</title>
</head>
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <form th:action th:object="${makeDataForm}" method="post" class="w-50 mx-auto">
        <h2 class="mb-3 mt-3">정산 데이터 생성</h2>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="mb-3">
            <label class="label">
                <span class="label-text">정산범위</span>
            </label>
            <select th:field="*{yearMonth}" class="select select-bordered">
                <option value="2023-06">2023-06</option>
                <option value="2023-05">2023-05</option>
                <option value="2023-04">2023-04</option>
                <option value="2023-03">2023-03</option>
                <option value="2023-02">2023-02</option>
                <option value="2023-01">2023-01</option>
            </select>
        </div>
        <button type="button" class="btn btn-sm btn-default float-end" onclick="location.href='/makeData'">취소</button>
        <button type="submit" class="btn btn-sm btn-default float-end mx-3">생성</button>
    </form>
</div>
</html>