<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <h2 class="border-bottom py-2" th:text="${productDetailDto.subject}"></h2>
    <small th:text="${productDetailDto.postKeyword.getContent()}"></small>
    <div class="d-flex justify-content-end">
        <div>
            <div th:text="|생성날짜 : ${#temporals.format(productDetailDto.createDate, 'yyyy-MM-dd HH:mm')}|"></div>
            <div th:text="|작성자 : ${productDetailDto.writer}|"></div>
            <div th:text="|가격 : ${productDetailDto.price}|"></div>
        </div>
    </div>

    <div class="card my-3 h-75">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${productDetailDto.description}"></div>
        </div>
    </div>
    <div class="my-3 float-end">
        <a th:href="@{|/post/${productDetailDto.id}/modify|}" class="btn modify"
           sec:authorize="isAuthenticated()"
           th:if="${#authentication.getPrincipal().getUsername() == productDetailDto.writer}"
           th:text="수정"></a>
        <a onclick="if (!confirm('글을 삭제하시겠습니까?') ) return false;" th:href="@{|/post/${productDetailDto.id}/delete|}"
           class="btn cancel" sec:authorize="isAuthenticated()"
           th:if="${#authentication.getPrincipal().getUsername() == productDetailDto.writer}"
           th:text="삭제"></a>
    </div>
</div>
</html>


