<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <h2 class="mb-3 mt-3">상품 목록</h2>

    <div class="container-fluid mt-5">
        <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="product, loop : ${productDtoList}" class="col-4 mb-5">
                <div class="card" style="width: 18rem; max-height: 19rem;">
                    <div class="card-body">
                        <div th:onclick="|location.href='@{|/product/${product.id}|}'|">
                            <h5 th:text="${product.subject}" class="card-title"></h5>
                            <h6 th:text="${product.description}" style="max-height: 9.5rem;" class="card-subtitle string-cut mb-2 text-muted"></h6>
                            <small th:text="|가격 : ${#numbers.formatInteger(product.price, 0, 'COMMA')} 원|" class="card-text"></small><br>
                            <small th:text="|작성자 : ${product.writer}|" class="card-text"></small>
                        </div>
                        <div class="d-grid mt-2">
                            <a href="javascript:;" onclick="if (!confirm('장바구니에 추가하시겠습니까?') ) return false; $(this).next().submit()" class="btn btn-default btn-sm">장바구니 추가</a>
                            <form th:action="@{|/cart/add/${product.id}|}" method="POST" hidden></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a th:href="@{/product/create}" class="float-end btn btn-default btn-sm" sec:authorize="hasAnyRole('WRITER')">상품 등록</a>
    </div>
</div>
</html>