<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <h2 class="mb-3 mt-3">상품 목록</h2>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="product, loop : ${productDtoList}" class="col mb-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div th:onclick="|location.href='@{|/product/${product.id}|}'|">
                            <h5 th:text="${product.subject}" class="card-title"></h5>
                            <h6 th:text="${product.description}" class="card-subtitle mb-2 text-muted"></h6>
                            <small th:text="|가격 : ${#numbers.formatInteger(product.price, 0, 'COMMA')} 원|" class="card-text"></small><br>
                            <small th:text="|작성자 : ${product.writer}|" class="card-text"></small>
                        </div>
                        <a href="javascript:;" onclick="$(this).next().submit()" class="btn btn-light btn-sm">장바구니 추가</a>
                        <form th:action="@{|/cart/add/${product.id}|}" method="POST" hidden></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a th:href="@{/product/create}" class="float-end btn create" sec:authorize="hasAnyRole('WRITER')">상품 등록</a>
    </div>
</div>
</html>