<!DOCTYPE>
<html layout:decorate="~{layout}" lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ebook</title>
</head>
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <form th:action th:object="${postModifyForm}" method="post" class="w-50 mx-auto">
        <h2 class="mb-3 mt-3">글 수정</h2>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-3">
            <input type="text" th:field="*{subject}" th:errorclass="field-error" class="form-control" placeholder="글 제목">
            <div th:if="${#fields.hasErrors('subject')}" th:errorclass="field-error" th:errors="*{subject}"></div>
        </div>
        <div class="mb-3">
            <textarea th:field="*{content}" th:errorclass="field-error" class="form-control" placeholder="글 내용" rows="15"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errorclass="field-error" th:errors="*{content}"></div>
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{postKeywordContents}" th:errorclass="field-error" class="form-control"
                   placeholder="#자바 #스프링 과 같이 띄어쓰기로 구분해서 등록해주세요.">
            <div th:if="${#fields.hasErrors('postKeywordContents')}" th:errorclass="field-error" th:errors="*{postKeywordContents}"></div>
        </div>

        <button type="button" class="btn btn-sm btn-default float-end" onclick="location.href='/post/list'">취소</button>
        <button type="submit" class="btn btn-sm btn-default float-end mx-3">수정</button>
    </form>
</div>
</html>