<!DOCTYPE>
<html layout:decorate="~{layout}" lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ebook</title>
</head>
<div layout:fragment="content" class="container justify-content-center align-items-center h-50 d-flex">
    <form th:action th:object="${passwordFindForm}" method="post" class="w-50 mx-auto">
        <h2 class="mt-3">비밀번호찾기</h2>
        <small class="mb-3 ">입력시, 이메일로 임시비밀번호가 발송됩니다.</small>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="mb-3">
            <input type="text" th:field="*{username}" th:errorclass="field-error" class="form-control" placeholder="아아디">
            <div th:if="${#fields.hasErrors('username')}" th:errorclass="field-error" th:errors="*{username}"></div>
        </div>

        <div class="mb-3">
            <input type="text" th:field="*{email}" th:errorclass="field-error" class="form-control" placeholder="이메일">
            <div th:if="${#fields.hasErrors('email')}" th:errorclass="field-error" th:errors="*{email}"></div>
        </div>

        <button type="button" class="btn btn-sm btn-default float-end" onclick="location.href='/member/login'">취소</button>
        <button type="submit" class="btn btn-sm btn-default float-end mx-3">찾기</button>
    </form>
</div>
</html>