<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <h2 class="mb-3 mt-3">마이 페이지</h2>

    <h6 th:text="|이메일 : ${userInfo.email}|"></h6>
    <h6 th:text="|닉네임 : ${userInfo.nickname}|"></h6>
    <div>
        <span class="h6" th:text="|예치금 : ${#numbers.formatInteger(restCash, 0, 'COMMA')} 원|"></span>
        <a th:href="@{/withdraw/apply}" class="btn btn-default btn-sm m-1">출금신청</a>
        <a th:href="@{/withdraw/history}" class="btn btn-default btn-sm m-1">출금내역</a>
    </div>
    <div class="mt-3">
        <a th:href="@{/member/modify}" class="btn btn-default btn-sm m-1">내정보수정</a>
        <a th:href="@{/member/modifyPassword}" class="btn btn-default btn-sm m-1">비밀번호수정</a>
    </div>
</div>
</html>