<!DOCTYPE>
<html layout:decorate="~{layout}" lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ebook</title>
</head>
<div layout:fragment="content" class="container justify-content-center align-items-center h-75 mt-5">
    <h2 class="mb-3 mt-3">장바구니 리스트</h2>
    <div class="container-fluid mt-5">
        <div class="row gx-3 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="cart : ${cartItemDtoList}" class="col-4 mb-5">
                <div class="card" style="width: 18rem; max-height: 19rem;">
                    <div class="card-body">
                        <div th:onclick="|location.href='@{|/product/${cart.productId}|}'|">
                            <h5 th:text="${cart.subject}" class="card-title"></h5>
                            <h6 th:text="${cart.description}" style="max-height: 9.5rem;" class="card-subtitle string-cut mb-2 text-muted"></h6>
                            <small th:text="|가격 : ${#numbers.formatInteger(cart.price, 0, 'COMMA')} 원|" class="card-text"></small><br>
                            <small th:text="|작성자 : ${cart.writer}|" class="card-text"></small>
                        </div>
                        <div class="d-grid mt-2">
                            <a href="javascript:;" onclick="$(this).next().submit()" class="btn btn-default btn-sm">장바구니 삭제</a>
                            <form th:action="@{|/cart/remove/${cart.id}|}" method="POST" hidden></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" onclick="if ( !confirm('주문하시겠습니까?') ) return false; $(this).next().submit()" class="btn btn-default btn-sm float-end">주문하기</a>
    <form th:action="@{|/order/create|}" method="POST" hidden></form>
</div>
</html>